@main( "About"){

        <div>
            <h2>About</h2>
            <h5>
                <p>
                    WEYGym is a fitness complex based in Dublin(Ireland), We are currently located in Tallaght, Lucan and still expanding.<br>
                    Our aim is to provide affordable and a well equipped gyms accross Dublin, maybe in the furture accross the nation.
                <br>
                <br>

                If you got any inquiries about WEYGym please contact us through our provided email, phone number and you can always drop-in one of our gyms.
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
            </p></h5>
        </div>

}
