@main("Home") {

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">this is your WEY to a healthier life</h1>
                </div>
            </div>
        </div>
    </header>



    <hr>



    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Marketing Box #1</h2>
            <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Marketing Box #2</h2>
            <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Marketing Box #3</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
    </div>
        <!-- /.row -->

    <hr>
    <div class="container-fluid text-center bg-grey">
        <h2>Gallery</h2>
        <h4>Our equipments</h4>
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src=@routes.Assets.at("images/weightss.jpg") alt="weights"><!--Change to suitable images-->
                    <p><strong>Free Weights</strong></p>
                    <p>Great for mass building</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src=@routes.Assets.at("images/boxing.jpg") alt="Boxing">
                    <p><strong>Boxing Studio</strong></p>
                    <p>For group classes,and one on one classes</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src=@routes.Assets.at("images/pool.jpg") alt="pool">
                    <p><strong>Swimming pool</strong></p>
                    <p>Yes, San Fran is ours</p>
                </div>
            </div>
        </div>
    </div>
    <div id="googleMap" style="height:400px ; width:100% ;"></div>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
            var myCenter = new google.maps.LatLng(53.2909472, -6.3634121);<!--change the map location-->

            function initialize() {
                var mapProp = {
                    center:myCenter,
                    zoom:15,
                    scrollwheel:false,
                    draggable:true,
                    mapTypeId:google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

                var marker = new google.maps.Marker({
                    position:myCenter,
                });

                marker.setMap(map);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
    </script>

}
